<app-inavbar></app-inavbar>
<!-- Navbar -->


<div class="container-fluid  mt-5 mb-5">

  <!-- Row 1  -->
  <div class="row mt-3 mb-3 p-3">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10 mt-5  d-flex justify-content-around">

      <!-- course 1  -->
      <div class="card text-center bg-success" style="width: 16rem;">
        <div class="card-body">
          <h3 class="card-title">Java</h3>
          <p class="card-text">Java is a class-based, object-oriented programming language that is designed to have as
            few implementation dependencies as possible</p>
          <button id="Java" class="btn btn-dark" (click)="getjava()">Get Course</button>
        </div>

      </div>

      <!-- course 1  -->
      <div class="card text-center bg-danger" style="width: 16rem;">
        <div class="card-body">
          <h3 class="card-title">Cpp</h3>
          <p class="card-text">C++ is a general-purpose programming language as an
            extension of the C programming language, or "C with Classes".</p>
          <button id="Cpp" class="btn btn-dark" (click)="getCpp()">Get Course</button>
        </div>

      </div>


      <!-- course 1  -->
      <div class="card text-center bg-warning" style="width: 16rem;">
        <div class="card-body">
          <h3 class="card-title">C</h3>
          <p class="card-text">C is a general-purpose, procedural computer programming language supporting structured
            programming.</p>
          <button id="C" class="btn btn-dark" (click)="getC()">Get Course</button>
        </div>

      </div>




    </div>
    <div class="col-md-1"></div>

  </div>


  <!-- Row 2  -->
  <div class="row mt-3 mb-3 p-3">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10 mt-5  d-flex justify-content-around">

      <!-- course 1  -->
      <div class="card text-center bg-warning" style="width: 16rem;">
        <div class="card-body">
          <h3 class="card-title">DS</h3>
          <p class="card-text"> data structure is a data organization, management, and storage format that enables
            efficient access and modification.</p>
          <button id="DS" class="btn btn-dark" (click)="getDS()">Get Course</button>
        </div>

      </div>

      <!-- course 1  -->
      <div class="card text-center bg-success" style="width: 16rem;">
        <div class="card-body">
          <h3 class="card-title">Mean</h3>
          <p class="card-text">MEAN is a free and open-source JavaScript software stack for building dynamic web sites
            and web applications.</p>
          <button id="Mean" class="btn btn-dark" (click)="getMEAN()">Get Course</button>
        </div>

      </div>


      <!-- course 1  -->
      <div class="card text-center bg-danger" style="width: 16rem;">
        <div class="card-body">
          <h3 class="card-title">AWP</h3>
          <p class="card-text">Advance web development is developing web pages with lots of features for example dynamic
            pages and log in section.</p>
          <button id="AWP" class="btn btn-dark" (click)="getAWP()">Get Course</button>
        </div>

      </div>




    </div>
    <div class="col-md-1"></div>

  </div>

  <!-- Row 3  -->
  <div class="row mt-3 mb-3 p-3">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10 mt-5  d-flex justify-content-around">

      <!-- course 1  -->
      <div class="card text-center bg-danger" style="width: 16rem;">
        <div class="card-body">
          <h3 class="card-title">Python</h3>
          <p class="card-text">Python is a general-purpose (All purpose) interpreted, interactive, object-oriented, and
            high-level
            programming language. </p>
          <button id="Python" class="btn btn-dark" (click)="getPython()">Get Course</button>
        </div>

      </div>

      <!-- course 1  -->
      <div class="card text-center bg-warning" style="width: 16rem;">
        <div class="card-body">
          <h3 class="card-title">DBT</h3>
          <p class="card-text">Database technologies take information and store, organize, and process it in a way that
            enables users to easily and intuitively</p>
          <button id="DBT" class="btn btn-dark" (click)="getDBT()">Get Course</button>
        </div>

      </div>


      <!-- course 1  -->
      <div class="card text-center bg-success" style="width: 16rem;">
        <div class="card-body">
          <h3 class="card-title">C#</h3>
          <p class="card-text">C# is a general-purpose, multi-paradigm programming language encompassing strong typing,
            lexically scoped.</p>
          <button id="Csharp" class="btn btn-dark" (click)="getCsharp()">Get Course</button>
        </div>

      </div>




    </div>
    <div class="col-md-1"></div>

  </div>




</div>



<!-- footer -->
<app-footer></app-footer>
