<app-inavbar></app-inavbar>
<!-- Navbar -->

<div class="container-fluid bg-info">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5 mb-3 p-5 details">
      <div class="row d-flex flex-column  justify-content-center mb-4" style="border-bottom: 1px grey solid;"
        *ngFor="let i of c">
        <div class="col-12">
          <div class=" row justify-content-between">
            <div style="font-size:1.25rem; color:brown"> <i class="fab fa-java"
                style="margin-right:10px; font-size: 20px; font-weight: bold; "></i>
              <b>{{i.cname}}</b></div>
            <div style="color:#0a2e33"><b>{{i.c_price}}</b><small> INR</small></div>
          </div>
        </div>


        <div>by <span>{{i.c_inst}}</span></div>
        <div>Duration <span>{{i.c_dur}} hours</span></div>
        <div>Ratings <span>{{i.c_rating}}</span><small> out of 5 stars</small></div>
        <div class="mt-3 mb-2 d-flex justify-content-center"><button class="btn btn-danger"
            style="padding-left:40px; padding-right:40px;" (click)="goToPage('Courses')">Buy</button></div>

      </div>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>




<!-- footer -->
<app-footer></app-footer>
